<%= div_for office_document, :class => 'content_size' do %>
  <div class="info">
    <%= truncate_name(office_document.title, :length => 35) %>
    <%= simple_format auto_link(office_document.description) %>
  </div>  
<% end %>

<div class="clearfloat"></div>
